.html{
	background-color: #f7f7f7;
}

.nav{
	display: flex;
	background-color: black;
	overflow: hidden;
	height: 70px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;

}

.nav a {
	display: flex;
  	float: left;
  	color: #f2f2f2;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 17px;

}

.nav a:hover {
 	background-color: #ddd;
  	color: black;
}

.nav a.active {
	display: flex;
  	background-color: #6600ba;
  	color: white;

}

.nav_links{
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-around;
	align-items: center;
}


.header{
	width: auto;
	height: auto;
}

.footer{
	display: grid;
	margin-top: 40px;
	grid-template-rows: 100px 50px 100px 100px;
	grid-template-columns: 1fr 1fr;
	background-color: #000000;
	column-gap: 50px;
	justify-content: center;
	

}

.icone{
	width: 80px;
	height: 70px;
	padding-right: 20px;

}

.title_footer{
	grid-row: 1 / 1;
	grid-column: 1 / 3;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 25px;
	align-self: center;
	justify-self: center;
	
}
.about_title{
	grid-row: 2 / 2;
	grid-column: 2 / 2;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;

}

.about{
	grid-row: 3 / 3;
	grid-column: 2 / 2;
	color: white;
	font-family: 'Roboto', sans-serif;
	margin-right: 20px;


}

.midias_sociais{
	grid-row: 4 / 4;
	grid-column: 2 / 2;
	margin-top: 20px;
}

.footer_email{
	display: flex;
	color: white;
	font-family: 'Roboto', sans-serif;
	margin-left: 20px;
	grid-row: 4 / 4;
	grid-column: 1 / 1;

}

.tel{
	display: flex;
	grid-row: 3 / 3;
	grid-column: 1 / 1;
	color: white;
	margin-left: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;

}

.text{
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	padding-left: 20px;

}
