.html{
	background-color: #f7f7f7;
}

.nav{
	display: flex;
	background-color: black;
	overflow: hidden;
	height: 70px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;

}

.nav a {
	display: flex;
  	float: left;
  	color: #f2f2f2;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 17px;

}

.nav a:hover {
 	background-color: #ddd;
  	color: black;
}

.nav a.active {
	display: flex;
  	background-color: #6600ba;
  	color: white;

}

.nav_links{
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-around;
	align-items: center;
}


.logo{
	width: 250px;
	height: 100%;

}

.header{
	width: auto;
	height: auto;
}

.principal_image{
	width: 100%;
	height: 600px;
	
}

.title{
	position: absolute;
	top: 90px;
	left: 25px;
	width: 550px;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 50px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}

.slogan{
	position: absolute;
	top: 250px;
	left: 25px;
	width: 500px;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 15px;
	color: white;
	font-family: 'Roboto', sans-serif;

}

.how{
	display: grid;
	grid-template-rows: 50px 100px;
	grid-template-columns: 50%;
	text-align: center;
	margin-top: 30px;
	justify-content: center;
	
}

.how_title{
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	grid-row: 1 / 1;
	grid-column: 1 / 1;
	justify-self: center;

}

.how_text{
	grid-row: 2 / 2;
	grid-column: 1 / 1;
	justify-self: center;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;

}


.descripition{
	display: grid;
	grid-template-rows: 450px;
	grid-template-columns: 25% 25% 25%;
	text-align: center;
	margin-top: 40px;
	column-gap: 20px;
	justify-content: center;
}

.col1{
	display: grid;
	grid-template-rows: 150px 50px 300px;
	grid-template-columns: 1fr;
	grid-row: 1 / 1;
	grid-column: 1 / 1;
	background-color: white;
	border-radius: 5px;
}

.col2{
	display: grid;
	grid-template-rows: 150px 50px 300px;
	grid-template-columns: 1fr;
	grid-row: 1 / 1;
	grid-column: 2 / 2;
	background-color: white;
	border-radius: 5px;

}

.col3{
	display: grid;
	grid-template-rows: 150px 50px 300px;
	grid-template-columns: 1fr;
	grid-row: 1 / 1;
	grid-column: 3 / 3;
	background-color: white;
	border-radius: 5px;
}

.vel_icon{
	grid-row: 1 / 1;
	grid-column: 1 / 1;
	width: 100px;
	height: 100px;
	justify-self: center;
	margin-top: 50px;
}

.velocity{
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	grid-row: 2 / 2;
	grid-column: 1 / 1;
	justify-self: center;
}

.vel_description{
	font-family: 'Roboto', sans-serif;
	grid-row: 3 / 3;
	grid-column: 1 / 1;
	justify-self: center;
	width: 70%;
}

.precision_icon{
	grid-row: 1 / 1;
	grid-column: 2 / 2;
	width: 100px;
	height: 100px;
	justify-self: center;
	margin-top: 50px;
}

.precision{
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	grid-row: 2 / 2;
	grid-column: 2 / 2;
	justify-self: center;
}

.precision_description{
	font-family: 'Roboto', sans-serif;
	grid-row: 3 / 3;
	grid-column: 2 / 2;
	justify-self: center;
	width: 70%;
}

.user_icon{
	grid-row: 1 / 1;
	grid-column: 3 / 3;
	width: 100px;
	height: 100px;
	justify-self: center;
	margin-top: 50px;
}

.user{
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	grid-row: 2 / 2;
	grid-column: 3 / 3;
	justify-self: center;
}

.user_description{
	font-family: 'Roboto', sans-serif;
	grid-row: 3 / 3;
	grid-column: 3 / 3;
	justify-self: center;
	width: 70%;
}

.title_tools{
	margin-top: 50px;
	display: flex;
	justify-content: center;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	background-color: #000000;
	color: white;

}

.tools{
	display: grid;
	grid-template-rows: 760px;
	grid-template-columns: 40% 40%;
	text-align: center;
	justify-content: center;
	column-gap: 40px;
	background-image: "img/tools_background.png"

}

.web{
	display: grid;
	grid-row: 1 / 1;
	grid-column: 1 / 1;
	grid-template-rows: 300px 50px 230px 80px;
	grid-template-columns: 1fr;
	text-align: center;
	justify-content: center;
	background-color: white;
	margin-bottom: 50px;
	margin-top: 20px;

}

.ai{
	display: grid;
	grid-row: 1 / 1;
	grid-column: 2 / 2;
	grid-template-rows: 300px 50px 230px 80px;
	grid-template-columns: 1fr;
	text-align: center;
	justify-content: center;
	background-color: white;
	margin-bottom: 50px;
	margin-top: 20px;

}


.web_image{
	grid-row: 1 / 1;
	grid-column: 1 / 1;
	width: 100%;
	height: 300px;
}

.ai_image{
	grid-row: 1 / 1;
	grid-column: 1 / 1;
	width: 100%;
	height: 300px;
}

.text_block1_title{
	grid-row: 2 / 2;
	grid-column: 1 / 1;
	color: black;
	width: 100%;
	height: 100%;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;

}

.text_block1_text{
	grid-row: 3 / 3;
	grid-column: 1 / 1;
	width: 70%;
	height: 100%;
	font-size: 18px;
	color: grey;
	font-family: 'Roboto', sans-serif;
	text-align: justify;
	justify-self: center;
	margin-top: 30px;
}

.text_block2_title{
	grid-row: 2 / 2;
	grid-column: 1 / 1;
	width: 100%;
	height: 100%;
	font-size: 30px;
	color: grey;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	color: black;
}

.text_block2_text{
	grid-row: 3 / 3;
	grid-column: 1 / 1;
	width: 70%;
	font-size: 18px;
	color: grey;
	font-family: 'Roboto', sans-serif;
	text-align: justify;
	justify-self: center;
	margin-top: 30px;
}

.button_web{
	grid-row: 4 / 4;
	grid-column: 1 / 1;
	width: 150px;
	height: 30px;
	font-size: 23px;
	color: white;
	font-family: 'Roboto', sans-serif;
	vertical-align: center;
	justify-self: center;
	align-self: center;
	background-color: #6600ba;
	border-radius: 3px;
	text-decoration: none;


}

.button_ai{
	grid-row: 4 / 4;
	grid-column: 1 / 1;
	width: 150px;
	height: 30px;
	font-size: 23px;
	color: white;
	font-family: 'Roboto', sans-serif;
	background-color: #6600ba;
	justify-self: center;
	align-items: center;
	align-self: center;
	border-radius: 3px;
	text-decoration: none;

}


.image{
	width: 500px;
	height: 300px;
}

.text{
	color: white;
	font-family: 'Work Sans', sans-serif; 
}

.footer{
	margin-top: 100px;
	background-color: #000000;
}

.icones{
	display: flex;
}

.icone{
	width: 100px;
	height: 80px;
}

.contact{
	color: white;
	font-family: 'Crimson Text', serif;
}
